<?xml version="1.0" encoding="utf-8"?>
<ArrayOfProxyInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <ProxyInfo>
    <Ip>95.216.10.237</Ip>
    <Name></Name>
    <Port>5050</Port>
    <UserName></UserName>
    <Password></Password>
    <IsHttpConnect>true</IsHttpConnect>
    <SenderAddress></SenderAddress>
    <HostFqdm></HostFqdm>
  </ProxyInfo>
</ArrayOfProxyInfo>